@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.blur {
  filter: blur(1rem);
}

.box-shadow {
  max-width: 38rem;
  box-shadow: 0.1rem 0.1rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  width: 100vw;
  padding: 1rem;
  border: 0.1rem solid #92b4ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(150deg, #40dfef, #92b4ec);
}

#weather {
  background: linear-gradient(130deg, #85f4ff, #b8fff9);
  max-width: 40rem;
  width: 100vw;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: 95vh;
}

#weather .inp-btn {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

#weather .input {
  position: relative;
  width: 100vw;
}

#weather .inp-btn input {
  max-width: 38rem;
  width: 100vw;
  padding: 0.5rem 1rem;
  border: 0.1rem solid transparent;
}

#weather .inp-btn button {
  padding: 0.4rem 1rem;
  border: 0.1rem solid #92b4ec;
}

#weather .inp-btn input,
button {
  font-size: 1rem;
  outline: none;
  border-radius: 2rem;
  opacity: 0.5;
  transition-property: opacity, border;
}

#weather .inp-btn .search-btn button {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}

#weather .inp-btn input:hover,
#weather .inp-btn button:hover,
#weather .input input:focus {
  opacity: 1;
  border: 0.1rem solid #92b4ec;
}

#weather .error {
  color: red;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: -1rem;
  display: none;
}

#weather .error.invalid-name {
  display: block;
}

#weather #status-display {
  display: none;
  animation: swipe-down-status 1s ease-in-out;
}

#weather #status-display.show {
  display: block;
}

@keyframes swipe-down-status {
  from {
    transition: display 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes img {
  from {
    transition: display 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0);
  }
}

#weather #status-display .icon-temp-city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#weather #status-display .icon-temp-city img {
  width: 10rem;
}

#weather #status-display .icon-temp-city .temp-city {
  text-align: center;
}

#weather #status-display .icon-temp-city .temp-city h1 {
  font-size: 3.5rem;
  z-index: 1;
}

#weather #status-display h4 {
  color: rgb(88, 87, 87);
  font-size: 1rem;
  font-weight: 600;
  z-index: 1;
}

#weather #status-display .humidity-wind {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

#weather #status-display .humidity-wind img {
  width: 3rem;
  filter: brightness(0);
}

#weather #status-display .humidity-wind h3 {
  font-size: 1.8rem;
}

#weather .inp-btn input,
button {
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
